{% load wagtailimages_tags %}
{% load static %}

<div class="pb-200 md:pb-300 keynote" id="keynote-speakers">
  <div class="max-w-975 mx-auto px-25 lg:px-0">
    <p class="font-baybayinsisil text-20 md:text-24 text-yellow">
    {{ page.keynote_subtitle }}
    </p>
    <h2 class="font-medium text-48 md:text-80 text-white mb-20">
      {{ page.keynote_title }}
    </h2>
    <h3 class="text-24 md:text-32 text-white mb-50">
      Discover our keynote speakers for PyCon Philippines 2024
    </h3>
  </div>

  <div class="max-w-975 mx-auto">
    <div class="keynote-container flex-col md:flex-row">
      {% for speaker in page.keynote_speakers.all %}
      <div class="flex w-full md:w-1/2 md:mx-10">
        <div class="keynote-img">
          {% image speaker.display_photo original fill-1000x1000 %}
        </div>
        <p class="text-center text-32 text-white mb-10 pt-20">
        {{ speaker.first_name }} {{ speaker.last_name }}
        </p>
        <p class="text-center text-24 text-white-8">
        {{ speaker.title }}
        </p>
        <p class="desc text-center text-16 text-white-80 md:mx-10">
        {{ speaker.introduction }}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

