{% load static %}

<ul class="flex justify-center mb-20">
    <li class="no-bullet">
        <a href="https://discord.gg/nuWfkhR4vM" class="no-underline" target="_blank">
            <img class="h-22 mr-18 hover:opacity-70" src="{% static 'img/icon/icon-discord.svg' %}" alt="discord" />
        </a>
    </li>
    <li class="no-bullet">
        <a href="https://www.facebook.com/pyconph" class="no-underline" target="_blank">
            <img class="h-22 mr-18 hover:opacity-70" src="{% static 'img/icon/icon-facebook.svg' %}" alt="facebook" />
        </a>
    </li>
    <li class="no-bullet">
        <a href="https://github.com/pythonph" class="no-underline" target="_blank">
            <img class="h-22 mr-18 hover:opacity-70" src="{% static 'img/icon/icon-github.svg' %}" alt="github" />
        </a>
    </li>
    <li class="no-bullet">
        <a href="https://twitter.com/pyconph" class="no-underline" target="_blank">
            <img class="h-22 mr-18 hover:opacity-70" src="{% static 'img/icon/icon-twitter.svg' %}" alt="twitter" />
        </a>
    </li>
    <li class="no-bullet">
        <a href="https://www.instagram.com/pythonph/" class="no-underline" target="_blank">
            <img class="h-24 hover:opacity-70" src="{% static 'img/icon/icon-instagram.svg' %}" alt="instagram" />
        </a>
    </li>
</ul>

